<<h2>Name: <%= @contact.full_name %> </h2>
<h2>Email: <%= @contact.email %></h2>
<h2>Phone Number: <%= @contact.phone_number %></h2>
<h4>Updated at: <%= @contact.friendly_updated_at %> </h4>
<br>
<a href="/contacts/<%=@contact.id %>/edit">Edit Contact</a>

<%= link_to "Delete", "/contacts/#{ @contact.id }", method: :delete   %>